<h3 class="!text-xl">WebSocket Multiplayer Game</h3>

Users activity:
@for (item of stats$ | async | keyvalue; track item) {
  <div class="stat" [appActive]='item.value'>
    {{item.key}}
  </div>
}

<ng-template #playerTpl let-data>
  <div class="el text-rose-900" [id]="data.username" [ngStyle]="{'left.px': data.clientX, 'top.px': data.clientY }">
    {{data.username}}
    <div class="text-rose-700">{{data.score}}</div>
  </div>
</ng-template>

<ng-template #registerTpl let-data>
  <div mat-dialog-content>
    <mat-form-field appearance="fill" [style.width.%]="100">
      <mat-label>your nick?</mat-label>
      <form #f="ngForm">
        <input #x matInput name="name" required pattern="^[a-zA-Z]{3,6}$" [(ngModel)]="name">
      </form>
      <mat-hint>{{data}}</mat-hint>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button [disabled]="!f.valid" color="primary" [mat-dialog-close]="name"
    cdkFocusInitial>Ok</button>
  </div>
</ng-template>

<div #area class="area"></div>
