<div class="box">
  @if (!(auth$ | async)) {
  <lib-form-generator [formConfig]="formConfig" (action)="onAction($event)">
    <ng-template>
      <div class="flex gap-4">
        @for (item of [0,1]; track $index) {
        <ng-container [libFieldGenerator]=" formConfig[item]"></ng-container>
        }
      </div>
      <ng-container [libFieldGenerator]=" formConfig[2]"></ng-container>
    </ng-template>
  </lib-form-generator>
  } @else {
  <h2 class="p-4">logged: {{ auth$ | async }}</h2>
  }
</div>
