<h3 class="!text-xl">Form Generator</h3>

<div class="flex gap-5">
  <div class="">
    <lib-form-generator #g (action)='onAction($event)' [formConfig]='formConfig$ | async'></lib-form-generator>
  </div>
  <div class="box p-4">
    <pre class="whitespace-pre-wrap">{{g.form.value | json}}</pre>
    @for (error of errors; track error) {
    <div style="color: red">
      {{error|json}}
    </div>
    }
  </div>
</div>
