<lib-data-grid [data]="data$ | async | keyvalue" [headers]="['key', 'value']">
  <ng-template let-data>
    <tr>
      <td>{{ data.key }}</td>
      <td>
        <div>
          @switch (data.key) { @case ('imgSrc') {
          <div><img [src]="data.value" width="100" /></div>
          } @default {
          <div>{{ data.value }}</div>
          } }
        </div>
      </td>
    </tr>
  </ng-template>
</lib-data-grid>
