<h3 class="!text-xl">Items List</h3>

<div class="flex space-x-4">
  <div class="flex-1">
    <lib-data-grid
      [data]="items$ | async"
      [headers]="['Nr.', 'Title', 'Price', 'Image', 'Buy', 'More']"
    >
      <ng-template let-item let-nr="nr">
        <tr>
          <td>{{ nr }}</td>
          <td>{{ item.title }}</td>
          <td>{{ item.price }}</td>
          <td>
            <img [src]="item.imgSrc" width="30" />
          </td>
          <td>
            <a mat-icon-button (click)="buy(item)">
              <mat-icon>add_shopping_cart</mat-icon>
            </a>
          </td>
          <td>
            <a [routerLink]="item.id">
              <mat-icon color="accent">more</mat-icon>
            </a>
          </td>
        </tr>
      </ng-template>
    </lib-data-grid>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
