<div class="cart">
  <h3 class="!text-xl">Your Shopping Cart</h3>
  <lib-data-grid
    [data]="cart$ | async"
    [headers]="['Nr.', 'Title', 'Price', 'Amount', 'Image', 'Action']"
  >
    <ng-template let-item let-nr="nr">
      <tr>
        <td>{{ nr }}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.price }}</td>
        <td>
          <mat-icon [matBadge]="item.count" matBadgeColor="warn"></mat-icon>
        </td>
        <td><img [src]="item.imgSrc" width="40" alt=""/></td>
        <td>
          <button mat-mini-fab (click)="increase(item)">+</button>
          <button mat-mini-fab (click)="decrease(item)">-</button>
          <a mat-icon-button (click)="remove(item)">
            <mat-icon>remove_shopping_cart</mat-icon>
          </a>
        </td>
      </tr>
    </ng-template>
  </lib-data-grid>
</div>
